#navigation{
	background-color: #ac2925;
}

.site-content{
	min-height: 700px;
}

.sidenav{
	min-height: 700px;
	border-left: 2px solid gray;
}
.btn-primary{
	background-color: #ac2925;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ac2925;
    border-color: #ac2925;
}
.btn {
    padding: 15px 15px;
    font-size: 15px;
}